{% extends 'base.html' %}
{% block title %} Create User {% endblock %}

{% block content %}

<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<form action="/">
    <button>Home</button>
</form>
<form action="/users/{{user.id}}/edit">
    <button>Edit</button>
</form>
<form action="/users/{{user.id}}/delete" method="POST">
    <button>Delete</button>
</form>
<h2>Posts</h2>
<ul>
    {% for post in posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new">
    <button>Add Post</button>
</form>
 
{% endblock %}